{% extends "email/base.html" %}

{% block title %} Recuperar contraseña {{ site }} {% endblock %}

{% block content %}

<html>
	<head>
		<style type="text/css">
			a{
				text-decoration: none;
				color: inherit;
			}
			.container{
				text-align: center;
				width: 400px;
				margin: 64px auto;
				padding: 32px 24px;
				color: #fff;
				background-color: #0074CF;
				border-radius: 10px;
				font-family: Verdana;
			}
			img{
				max-width: 95%;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<h2>Restablecimiento de contraseña</h2>
			<br>
			<p><b>¡Tu tokens a expirado!</b></p>
			<br>
			<p>Fecha de operación: <script type="text/JavaScript"> var f = new Date(); document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear()); </script> </p>
			<p>Hora de operación: <script type="text/javascript"> var d = new Date(); document.write(d.getHours(),':'+d.getMinutes(),':'+d.getSeconds()); </script></p>
			<br>
			<img src="https://i.ibb.co/chRmYYK/DrMi.png" width="240">
		</div>
	</body>
</html>

{% endblock %}