{% extends "email/base.html" %}

{% block title %} Recuperar contraseña {{ site }} {% endblock %}

{% block content %}
<html>
	<head>
		<style type="text/css">
			a{
				text-decoration: none;
				color: inherit;
			}
			.container{
				text-align: center;
				width: 400px;
				margin: 64px auto;
				padding: 32px 24px;
				color: #0074CF;
				background-color: #fff;
				border-radius: 10px;
				font-family: Verdana;
			}
			form{
				width: 100%;
				text-align: left;
			}
			input{
				width: 100%;
				/*margin-bottom: 16px;*/
				background-color: rgba(0,117,201,0.1);
				color: #0074CF;
				border: 1px solid #0074CF;
				padding: 8px 12px;
				border-radius: 8px; 
			}
			label{
				margin-bottom: 8px;
				margin-top: 24px;
				display: inline-block;
			}
			button{
				margin-top: 24px;
				width: 100%;
				background-color: #0074CF;
				color: #fff;
				text-align: center;
				border: none;
				border-radius: 8px;
				font-size: 1em;
				padding: 16px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<h2>Cambia tu contraseña</h2>
			<form action="/v1/auth/reset-password/{{code}}" target="_blank" method="POST">
				<input type="hidden" name="code" value="{{code}}">
				<div class="field-wrapper">
					<label for="password2">Cambiar contraseña:</label>
					<input type="password" name="password" id="password2" placeholder="password" onkeyup="checkPass();">
				</div>
				<div class="field-wrapper">
					<label for="confirm2">Confirmar contraseña:</label>
					<input type="password" name="password_confirm" id="confirm2" placeholder="confirm password" onkeyup="checkPass();">
					<span id="confirm-message2" class="confirm-message"></span>
				</div>
					  <button>Aceptar</button>
			</form>
		</div>
	</body>
</html>
    
{% endblock %}
