{% extends "email/base.html" %}

{% block title %} Recuperar contraseña {{ site }} {% endblock %}

{% block content %}

<html>
	<head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<style type="text/css">
			a{
				text-decoration: none;
				color: inherit;
			}
			.container{
				text-align: center;
				width: 400px;
				margin: 64px auto;
				padding: 32px 24px;
				color: black;
				background-color: #fff;
				/*color: #fff;*/
				background-color: #0074CF;
				border-radius: 10px;
				font-family: 'Roboto', sans-serif;
                border:1px solid #0074CF;
			}
			img{
				max-width: 95%;
			}
            .blacktext {
                color: white;
            }
		</style>
	</head>
	<body>
		<div class="container">
			<h1 class="blacktext">Restablecimiento de contraseña</h1>
			<br>
			<h2 class="blacktext">Hemos detectado una solicitud de cambio de contraseña</h2>
			<h2 class="blacktext"><b><i>Fecha de operación: {{ date }}</i></b></h2>
			<br>
			<h2 class="blacktext">Para cambiar tu contraseña haz click <a class="blacktext" LINK="white" href="{{ link }}"><b>aquí</b></a>.</h2>
            <br>
			<img src="https://i.ibb.co/XW9qD0y/Artboard.png" width="240">
		</div>
	</body>
</html>

{% endblock %}