{% extends "email/base.html" %}

{% block title %} Bienvenido a {{ site }} {% endblock %}

{% block content %}
    <p>Hola <b>{{ display_name }}</b></p>
    <p>
        Ahora ya puede usar su cuenta en la plataforma <b>{{ site }}</b>

    <p>Equipo {{ site }}!</p>
{% endblock %}
